body {
  margin: 0;
  background-color: #1e1e1e;
  font-size: Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
margin: 10;
padding: 0;

}

.content-section {
box-sizing: border-box;
width: 360px;

margin: auto;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #131313;


}

.content_section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  padding: 24px 20px;

}

.cover {
  padding: 7px 24px 32px 20px;

}

.intro {
  padding: 0 20px 38px;
}

.reasons {
  padding: 40px 20px 60px;
}

.how-to {
  padding: 40px 20px 60px;
}

.footer {
  padding: 20px;
}

.header__logo-image {
  
}
